body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 20px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #C3F8FF;
  position: relative;
  padding-top: 5%;
}

.middle-container {
  margin: 100px 0 100px 0;
}

.bottom-container {
  margin-top: 100px;
  background-color: #66BFBF;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 60rem;
  bottom: 16.75rem;
}

.top-cloud {
  position: absolute;
  right: 60rem;
  top: 1.5rem;
}

.profile-hello {
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
}

.skill-gp {
  width: 12.5rem;
  height: 12.5rem;
}

.prog {
  font-size: 2.5rem;
}

a {
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.img-skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr {
  border: dotted gray 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.footer-link {
  margin: 100px 100px auto;
  font-size: 20px;
  text-decoration: none;
  color: #11999E;
}

.but-up {
  width: 30%;
  margin: 50px auto;
}

.copyright {
  color: #EAF6F6;
  margin-top: 60px;
}

.self-desc {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

a:hover{
  color: #EAF6F6;
}
